*
!.gitignore
!readme.md
!solver.py
!densities.py
!distribute.py
!integrator.py
!plotter.py
!sample_main.py
!mytimer.py
!params.py
!main_for_virial.py
!velocities.py
!utils.py
!test_solver.py
!outputs/elongated
!outputs/extreme_elongated
!outputs/flat
!outputs/rod
!outputs/spherical_spin
!outputs/symmetric_gaussian
!outputs/triaxial
!outputs/noevolve